<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <title>$title$</title>
    <link rel="stylesheet" type="text/css" href="/css/docs.css">
    
<!--tracking-->
</head><body>
    <header id="header">
        <h1 id="title" class="wrapper"><a href="/">Firmin</a></h1>
        
        <p id="subtitle" class="wrapper">
            A JavaScript animation library using CSS
            transforms and transitions
        </p>
    </header>
    
    <div id="main" class="wrapper">
        <nav id="toc">
            <h2>Contents</h2>
            
            <ul>
                <li>
                    <p><a href="/">Documentation</a></p>
                    <ul>
                        <li><a href="/#downloads">Downloads</a></li>
                        <li><a href="/#using-firmin">Using Firmin</a></li>
                        <li><a href="/#relative-transforms">Relative transforms</a></li>
                        <li><a href="/#operation-order">Operation order</a></li>
                        <li><a href="/#supported-platforms">Supported platforms</a></li>
                        <li><a href="/#transition-properties">Transition properties</a></li>
                        <li><a href="/#units">Units</a></li>
                        <li><a href="/#axes">Axes</a></li>
                    </ul>
                </li>
                
                <li>
                    <p><a href="/api.html">API reference</a></p>
                    <ul>
                        <li><a href="/api.html#api-animate">The <code>animate</code> function</a></li>
                        <li><a href="/api.html#translation-functions">Translation functions</a></li>
                        <li><a href="/api.html#scaling-functions">Scaling functions</a></li>
                        <li><a href="/api.html#rotation-functions">Rotation functions</a></li>
                        <li><a href="/api.html#skew-functions">Skew functions</a></li>
                        <li><a href="/api.html#matrix-functions">Matrix functions</a></li>
                    </ul>
                </li>
                
                <li><a href="/changelog.html">Development history</a></li>
                <li><a href="/downloads.html">Release archive</a></li>
            </ul>
        </nav>
        
        <div id="content">
            $body$
        </div>
    </div>
    
    <p id="footer" class="wrapper">
        Firmin is developed by <a href="http://extralogical.net/">Benedict
        Eastaugh</a> and released under the BSD license.
    </p>
<body></html>
